html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f1f1;
}
h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
  padding: 0;
}
a {
  transition: 0.2s;
}
.header-section {
  padding-bottom: 55px;
}
.bio-section {
  background-color: #f2f1f1;
  height: 920px;
}
.gallery-section {
  height: 920px;
  padding-top: 180px;
}
.contact-section {
  height: 920px;
}
