.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 3;
}
.header-nav {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
}
.header-content {
  position: absolute;
  z-index: 2;
}
.header-content__title {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  color: #b88b58;
  font-weight: bold;
  padding-top: 130px;
}
.header-content__subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  position: relative;
  margin-bottom: 60px;
  padding-left: 5px;
}
.header-content__subtitle:after {
  content: " ";
  width: 30px;
  height: 2px;
  background-color: #b88b58;
  position: absolute;
  top: 65px;
  left: 5px;
}
.header-content__slogan {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  padding-top: 30px;
  padding-right: 190px;
  line-height: 1;
  position: relative;
}
.header-content__slogan span {
  font-size: 50px;
}
.header-content__slogan:before {
  content: "«";
  width: 2px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 33px;
  font-size: 50px;
}
.frame1 {
  background-image: url(../img/foto_25.jpg);
  height: 920px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame2 {
  background-image: url(../img/foto_6.jpg);
  height: 920px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame3 {
  background-image: url(../img/foto_12.jpg);
  height: 920px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navigation {
  display: flex;
  justify-content: right;
  padding-top: 20px;
}
.work-link {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  color: #b88b58;
  margin-top: 140px;
  border: 2px solid #b88b58;
  padding: 10px 30px 10px 50px;
  display: inline-block;
}
.header-social {
  font-size: 30px;
  color: #fff;
  padding-top: 140px;
}
.header-social i {
  padding-right: 10px;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ddd;
}
h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
  padding: 0;
}
.header-section {
  background-color: #9ACD32;
  padding-bottom: 55px;
}
.bio-section {
  background-color: #00CED1;
  height: 920px;
}
.gallery-section {
  background-color: #DA70D6;
  height: 920px;
}
.contact-section {
  background-color: #FFDEAD;
  height: 920px;
}
.biography {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}
.biography__avatar {
  width: 405px;
  height: 405px;
  position: absolute;
  top: -50px;
  left: -50px;
}
.biography-text {
  position: relative;
  border: 2px solid #b88b58;
  margin-top: 180px;
}
.biography__title {
  font-size: 120px;
  letter-spacing: 2px;
  color: #b88b58;
  padding-left: 370px;
}
.biography__content {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-left: 370px;
  padding-bottom: 50px;
  padding-right: 50px;
}
.contact_block {
  padding-top: 140px;
}
.contact-title {
  font-family: 'Playfair Display', serif;
  font-size: 120px;
  letter-spacing: 2px;
  color: #b88b58;
}
.contact_subtitle {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  color: #b88b58;
  padding-top: 40px;
  padding-bottom: 30px;
}
.contact_text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-top: 25px;
}
.contact-social {
  font-size: 100px;
  color: #fff;
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
.flag-change {
  display: flex;
  justify-content: center;
}
.flag {
  display: block;
  width: 40px;
  height: 40px;
  margin: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .flag {
    width: 50px;
    height: 50px;
  }
}
.flag-rus {
  background-image: url(../img/flag_rus.png);
}
.flag-rus--hidden {
  background-image: url(../img/flag_rus_hidden.png);
}
.flag-eng {
  background-image: url(../img/flag_eng.png);
}
.flag-eng--hidden {
  background-image: url(../img/flag_eng_hidden.png);
}
.nav {
  margin-left: 20px;
}
.navigation-rus {
  text-align: center;
  padding-top: 15px;
}
@media (min-width: 576px) {
  .navigation-rus {
    text-align: right;
  }
}
.navigation-eng {
  text-align: center;
  padding-top: 15px;
}
@media (min-width: 576px) {
  .navigation-eng {
    text-align: right;
  }
}
.navigation__link {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  color: #b88b58;
}
@media (min-width: 992px) {
  .navigation__link {
    font-size: 16px;
  }
}
.navigation-span {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  color: #b88b58;
}
.bg-carousel {
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 1;
}
