.header-fixed {
  background-color: yellow;
}
.fixed {
  position: fixed;
}
.header-nav {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
}
.header-content__title {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  color: #b88b58;
  font-weight: bold;
  padding-top: 30px;
}
.header-content__subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  position: relative;
  margin-bottom: 60px;
  padding-left: 5px;
}
.header-content__subtitle:after {
  content: " ";
  width: 30px;
  height: 2px;
  background-color: #b88b58;
  position: absolute;
  top: 65px;
  left: 5px;
}
.header-content__slogan {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  padding-top: 30px;
  padding-right: 190px;
  line-height: 1;
  position: relative;
}
.header-content__slogan span {
  font-size: 50px;
}
.header-content__slogan:before {
  content: "«";
  width: 2px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 33px;
  font-size: 50px;
}
.frame1 {
  background-image: url(../img/foto_25.jpg);
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame2 {
  background-image: url(../img/foto_6.jpg);
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame3 {
  background-image: url(../img/foto_12.jpg);
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navigation {
  display: flex;
  justify-content: right;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
  padding: 0;
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
.flag-change {
  display: flex;
  justify-content: center;
}
.flag {
  display: block;
  width: 40px;
  height: 40px;
  margin: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .flag {
    width: 50px;
    height: 50px;
  }
}
.flag-rus {
  background-image: url(../img/flag_rus.png);
}
.flag-rus--hidden {
  background-image: url(../img/flag_rus_hidden.png);
}
.flag-eng {
  background-image: url(../img/flag_eng.png);
}
.flag-eng--hidden {
  background-image: url(../img/flag_eng_hidden.png);
}
.nav {
  margin-left: 20px;
}
.navigation-rus {
  text-align: center;
  padding-top: 15px;
}
@media (min-width: 576px) {
  .navigation-rus {
    text-align: right;
  }
}
.navigation-eng {
  text-align: center;
  padding-top: 15px;
}
@media (min-width: 576px) {
  .navigation-eng {
    text-align: right;
  }
}
.navigation__link {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  color: #b88b58;
}
@media (min-width: 992px) {
  .navigation__link {
    font-size: 16px;
  }
}
.navigation-span {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  color: #b88b58;
}
.bg-carousel {
  width: 100%;
  height: 330px;
  position: absolute;
  top: 0px;
  z-index: 1;
}
.carousel-item {
  height: 330px;
}
