.biography {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;
}

.biography__avatar {
	width: 405px;
	height: 405px;
	position: absolute;
	top: -50px;
	left: -50px;
}

.biography-text {
	position: relative;
	border: 2px solid @olive;
	margin-top: 180px;
}

.biography__title {
	font-size: 120px;
	letter-spacing: 2px;
	color: @olive;
	padding-left: 370px;
}

.biography__content {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding-left: 370px;
	padding-bottom: 50px;
	padding-right: 50px;
}