.contact_block {
	padding-top: 140px;
}

.contact-title {
	font-family: 'Playfair Display', serif;
	font-size: 120px;
	letter-spacing: 2px;
	color: @olive;
}

.contact_subtitle {
	font-family: 'Playfair Display', serif;
	font-size: 22px;
	color: @olive;
	padding-top: 40px;
	padding-bottom: 30px;
}

.contact_text {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding-top: 25px;
}

.contact-social {
	font-size: 100px;
	color: #fff;
}

.contact-form {
	background-color: #fff;
	height: 340px;
	margin-top: 50px;
}