html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #ddd;
}

h1, h2, h3, h4, h5, h5, p {
	margin: 0;
	padding: 0;
	
}

.navigation-section {
	// background-color: yellow;
}

.header-section {
	background-color: #9ACD32;
	padding-bottom: 55px;
}

.bio-section {
	background-color: #00CED1;
	height: 920px;
}

.gallery-section {
	background-color: #DA70D6;
	height: 920px;
}

.contact-section {
	background-color: #FFDEAD;
	height: 920px;
}